Repository gemini-hlsw/lucuma-react, pull requests merged in 2022-09, with the labels that each got.

#154 Resizing chart
  build.sbt
  highcharts/src/main/scala/react/highcharts/ResizingChart.scala
  prime-react/yarn.lock
Labels: table, highcharts, datepicker, prime-react

#174 Use react-moon fork
  beautiful-dnd/yarn.lock
  circular-progressbar/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  floatingui/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  hotkeys/yarn.lock
  moon/src/main/scala/react/moon/MoonPhase.scala
  moon/yarn.lock
  package.json
  prime-react/yarn.lock
  resizable/yarn.lock
  semantic-ui/yarn.lock
  table/yarn.lock
  tanstack-table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Labels: test, grid-layout, draggable, clipboard, virtuoso, table, highcharts, datepicker, beautiful-dnd, tree, semantic-ui, hotkeys, resizable, prime-react, circular-progressbar, moon, floatingui, tanstack-table

#165 Add some usability meta-facades for primereact
  build.sbt
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/Dropdown.scala
  prime-react/src/main/scala/react/primereact/InputText.scala
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
  prime-react/src/main/scala/react/primereact/SelectItem.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Labels: prime-react

#177 Expose some virtualized options in tables
  build.sbt
  tanstack-table-demo/src/main/scala/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Labels: tanstack-table, tanstack-table-demo

#181 add sortable indicator to tanstack columns
  build.sbt
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Labels: tanstack-table
