Repository gemini-hlsw/lucuma-react, pull requests merged in 2022-06, with the labels that each got.

#42 Auto-generate vite config for demos
  .scala-steward.conf
  build.sbt
  grid-layout-demo/vite.config.js
Labels: grid-layout-demo

#45 Import svgdotjs
  .mergify.yml
  build.sbt
  project/plugins.sbt
  svgdotjs/package.json
  svgdotjs/src/main/scala/lucuma/svgdotjs/package.scala
  svgdotjs/yarn.lock
Labels: svgdotjs

#48 Merge remote-tracking branch 'cquiroz/master'
  cats/src/main/scala/react/common/implicits/package.scala
  cats/src/test/scala/react/common/arb/ArbJsNumber.scala
  cats/src/test/scala/react/common/arb/ArbSize.scala
  cats/src/test/scala/react/common/arb/package.scala
  cats/src/test/scala/react/common/implicits/ReactCatsSuite.scala
  common/src/main/scala/react/common/size.scala
  common/src/main/scala/react/common/syntax/package.scala
  draggable/src/main/scala/react/draggable/Draggable.scala
  draggable/src/main/scala/react/draggable/package.scala
  grid-layout-demo/src/main/scala/ResizeDetector.scala
  grid-layout-demo/src/main/scala/react/resize.scala
  grid-layout/src/main/scala/react/gridlayout/BaseProps.scala
  grid-layout/src/main/scala/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/ResponsiveReactGridLayout.scala
  virtuoso/src/main/scala/react/virtuoso/GroupedVirtuoso.scala
  virtuoso/src/main/scala/react/virtuoso/Virtuoso.scala
Labels: cats, common, grid-layout, grid-layout-demo, draggable, virtuoso

#54 Update sbt-lucuma-lib, ... to 0.8.4
  .github/workflows/ci.yml
  .mergify.yml
  .scalafix-common.conf
  .scalafix.conf
  .scalafmt-common.conf
  beautiful-dnd-demo/src/main/scala/react/beautifuldnd/demo/BeautifulDnDDemo.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/DragDropContext.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/Draggable.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/Droppable.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/StructuresJS.scala
  beautiful-dnd/src/main/scala/react/beautifuldnd/package.scala
  cats/src/main/scala/react/common/implicits/package.scala
  cats/src/test/scala/react/common/arb/ArbStyle.scala
  cats/src/test/scala/react/common/implicits/ReactCatsSuite.scala
  clipboard/src/main/scala/react/clipboard/CopyToClipboard.scala
  clipboard/src/main/scala/react/clipboard/package.scala
  clipboard/src/test/scala/react/clipboard/CopyToClipboardSuite.scala
  common/src/main/scala/react/common/jsComponents.scala
  common/src/main/scala/react/common/package.scala
  common/src/main/scala/react/common/style/package.scala
  common/src/main/scala/react/common/syntax/package.scala
  datepicker-demo/src/main/scala/react/datepicker/demo/Demo.scala
  datepicker/src/main/scala/react/datepicker/package.scala
  draggable/src/main/scala/react/draggable/Draggable.scala
  draggable/src/main/scala/react/draggable/package.scala
  grid-layout-demo/src/main/scala/ResizeDetector.scala
  grid-layout-demo/src/main/scala/react/gridlayout/Demo.scala
  grid-layout-demo/src/main/scala/react/resize.scala
  grid-layout/src/main/scala/react/gridlayout/BaseProps.scala
  grid-layout/src/main/scala/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/ResponsiveReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/package.scala
  grid-layout/src/main/scala/react/gridlayout/raw/package.scala
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
  highcharts-demo/src/main/scala/react/highcharts/demo/Demo.scala
  highcharts/src/main/scala/react/highcharts/Chart.scala
  highcharts/src/main/scala/react/highcharts/mods/seriesLabel/SeriesLabelPoint.scala
  highcharts/src/main/scala/react/highcharts/mods/seriesLabel/SeriesLabelSeries.scala
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  project/plugins.sbt
  table/src/main/scala/reactST/reactTable/HTMLTable.scala
  table/src/main/scala/reactST/reactTable/facade/columnOptions/ColumnOptions.scala
  table/src/main/scala/reactST/reactTable/package.scala
  test/src/main/scala/react/common/TestUtils.scala
  test/src/test/scala/react/common/CommonSuite.scala
  test/src/test/scala/react/common/ReactPropsSuite.scala
  test/src/test/scala/react/common/ReactPropsWithChildrenSuite.scala
  tree-demo/src/main/scala/react/atlasKit/tree/demo/TreeDemo.scala
  tree/src/main/scala/react/atlasKit/tree/Tree.scala
  virtuoso/src/main/scala/react/virtuoso/package.scala
Labels: cats, common, test, grid-layout, grid-layout-demo, draggable, clipboard, virtuoso, table, highcharts, highcharts-demo, datepicker, datepicker-demo, beautiful-dnd, beautiful-dnd-demo, tree, tree-demo

#65 Remove svgdotjs
  .envrc
  .github/workflows/ci.yml
  .gitignore
  .mergify.yml
  README.md
  build.sbt
  flake.lock
  flake.nix
  svgdotjs/package.json
  svgdotjs/src/main/scala/lucuma/svgdotjs/package.scala
  svgdotjs/yarn.lock
Labels: svgdotjs

#66 Try fixing `foreachUnchecked` with beta-reduce macro
  semantic-ui/src/main/scala/react/semanticui/addons/textarea/TextArea.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormTextArea.scala
  semantic-ui/src/main/scala/react/semanticui/foreachUnchecked.scala
Labels: semantic-ui
