Repository gemini-hlsw/lucuma-react, pull requests merged in 2022-08, with the labels that each got.

#143 Fa update
  build.sbt
  font-awesome/src/main/scala/react/fa/FontAwesomeIcon.scala
  font-awesome/src/main/scala/react/fa/package.scala
Labels: font-awesome

#144 Convert enum syntax
  common/src/main/scala/react/common/enumValue.scala
  common/src/main/scala/react/common/syntax/package.scala
  font-awesome/src/main/scala/react/fa/FontAwesomeIcon.scala
  resizable/src/main/scala/react/resizable/Resizable.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/elements/IconsComponent.scala
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormGroup.scala
  semantic-ui/src/main/scala/react/semanticui/collections/grid/GridRow.scala
  semantic-ui/src/main/scala/react/semanticui/modules/popup/Popup.scala
Labels: common, semantic-ui, semantic-ui-demo, font-awesome, resizable

#149 Destroy Chart on unmount
  highcharts/src/main/scala/react/highcharts/Chart.scala
  highcharts/src/main/scala/react/highcharts/accessibility.scala
  highcharts/src/main/scala/react/highcharts/mods/seriesLabel/seriesLabel.scala
Labels: highcharts

#152 Make highcharts test robust to updates
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
Labels: highcharts
