Repository gemini-hlsw/lucuma-react, pull requests merged in 2022-07, with the labels that each got.

#69 Merge upstream updates
  cats/src/main/scala/react/common/implicits/package.scala
  cats/src/test/scala/react/common/implicits/ReactCatsSuite.scala
  virtuoso-demo/src/main/scala/react/table/demo/Demo.scala
Labels: cats, virtuoso-demo

#72 Cherry-pick "react-resize-detector needs to be import as js.Object "
  resize-detector/src/main/scala/react/resizeDetector/hooks.scala
Labels: resize-detector

#73 Update to upstream grid layout
  build.sbt
  grid-layout-demo/src/main/scala/react/gridlayout/Demo.scala
  grid-layout/src/main/scala/react/gridlayout/BaseProps.scala
  grid-layout/src/main/scala/react/gridlayout/ResponsiveReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/package.scala
  resize-detector/src/main/scala/react/resizeDetector/ResizeDetector.scala
  resize-detector/src/main/scala/react/resizeDetector/hooks.scala
  yarn.lock
Labels: grid-layout, grid-layout-demo, resize-detector

#85 Update to highcharts 10.2.0
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/package.json
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Labels: test, grid-layout, draggable, clipboard, virtuoso, table, highcharts, datepicker, beautiful-dnd, tree, semantic-ui

#90 Update vite+react plugin
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Labels: test, grid-layout, draggable, clipboard, virtuoso, table, highcharts, datepicker, beautiful-dnd, tree, semantic-ui

#93 Update to react-draggable 4.4.5
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Labels: test, grid-layout, draggable, clipboard, virtuoso, table, highcharts, datepicker, beautiful-dnd, tree, semantic-ui

#96 Update to react-virtuoso 2.16.1
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Labels: test, grid-layout, draggable, clipboard, virtuoso, table, highcharts, datepicker, beautiful-dnd, tree, semantic-ui

#98 Update to react-datepicker 4.8.0
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Labels: test, grid-layout, draggable, clipboard, virtuoso, table, highcharts, datepicker, beautiful-dnd, tree, semantic-ui

#99 Update to typescript 4.7
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Labels: test, grid-layout, draggable, clipboard, virtuoso, table, highcharts, datepicker, beautiful-dnd, tree, semantic-ui

#100 Update to less 4.1.3
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Labels: test, grid-layout, draggable, clipboard, virtuoso, table, highcharts, datepicker, beautiful-dnd, tree, semantic-ui

#101 Update to tree 8.6.1
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Labels: test, grid-layout, draggable, clipboard, virtuoso, table, highcharts, datepicker, beautiful-dnd, tree, semantic-ui

#102 Update to resize-detector 7.1.2
  beautiful-dnd/yarn.lock
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Labels: test, grid-layout, draggable, clipboard, virtuoso, table, highcharts, datepicker, beautiful-dnd, tree, semantic-ui

#84 Update to jsdom 20.0.0
  beautiful-dnd/yarn.lock
  build.sbt
  clipboard/yarn.lock
  datepicker/package.json
  datepicker/yarn.lock
  draggable/src/test/scala/react/draggable/DraggableTests.scala
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/package.json
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  highcharts/yarn.lock
  package.json
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Labels: test, grid-layout, draggable, clipboard, virtuoso, table, highcharts, datepicker, beautiful-dnd, tree, semantic-ui

#114 Minor fixes.
  semantic-ui-demo/src/main/scala/react/semanticui/demo/elements/IconsComponent.scala
  semantic-ui-demo/src/main/scala/react/semanticui/demo/elements/LabelsComponent.scala
  semantic-ui/src/main/scala/react/semanticui/elements/header/Header.scala
  semantic-ui/src/main/scala/react/semanticui/elements/label/LabelDetail.scala
  semantic-ui/src/main/scala/react/semanticui/package.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuItemSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuMenuSuite.scala
  semantic-ui/src/test/scala/react/semanticui/collections/menu/MenuSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/container/ContainerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/divider/DividerSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/flag/FlagSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/header/HeaderContentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/header/HeaderSubheaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/header/HeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/image/ImageSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListContentSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListDescriptionSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListHeaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListItemSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListListSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/list/ListSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/loader/LoaderSuite.scala
  semantic-ui/src/test/scala/react/semanticui/elements/placeholder/PlaceholderSuite.scala
Labels: semantic-ui, semantic-ui-demo

#117 Restore datepicker facade
  datepicker-demo/src/main/webapp/main.jsx
  datepicker/src/main/scala/react/datepicker/Datepicker.scala
  flake.lock
  semantic-ui/src/main/scala/react/semanticui/modules/dropdown/DropdownMenu.scala
  yarn.lock
Labels: datepicker, datepicker-demo, semantic-ui

#121 Setup prime-react demo
  .github/workflows/ci.yml
  .mergify.yml
  beautiful-dnd/yarn.lock
  build.sbt
  clipboard/yarn.lock
  datepicker/yarn.lock
  draggable/yarn.lock
  grid-layout/yarn.lock
  highcharts/yarn.lock
  hotkeys/yarn.lock
  package.json
  prime-react-demo/vite.config.js
  resizable/yarn.lock
  semantic-ui/yarn.lock
  table/yarn.lock
  test/yarn.lock
  tree/yarn.lock
  virtuoso/yarn.lock
  yarn.lock
Labels: test, grid-layout, draggable, clipboard, virtuoso, table, highcharts, datepicker, beautiful-dnd, tree, semantic-ui, hotkeys, resizable

#122 Restore closeOnEscape
  semantic-ui/src/main/scala/react/semanticui/modules/modal/Modal.scala
Labels: semantic-ui

#120 Merge in upstream SUI
  semantic-ui/src/main/scala/react/semanticui/collections/form/FormInput.scala
Labels: semantic-ui

#123 Merge common and cats modules
  .mergify.yml
  build.sbt
  cats/src/main/scala/react/common/implicits/package.scala
  common/src/main/scala/react/common/implicits/package.scala
  common/src/main/scala/react/common/size.scala
  common/src/main/scala/react/common/style/package.scala
  common/src/test/scala/react/common/arb/ArbSize.scala
  common/src/test/scala/react/common/arb/ArbStyle.scala
  common/src/test/scala/react/common/arb/package.scala
  common/src/test/scala/react/common/implicits/ReactCatsSuite.scala
  test/src/test/scala/react/common/CommonSuite.scala
Labels: cats, common, test
