Repository gemini-hlsw/lucuma-react, pull requests merged in 2022-10, with the labels that each got.

#195 Table + Virtual facades
  tanstack-table-demo/src/main/scala/react/table/demo/Table1.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/table/BuiltInSorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/HooksApiExt.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/VirtualHook.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/VirtualOptions.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/facade/VirtualOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/facade/Virtualizer.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/package.scala
Labels: tanstack-table, tanstack-table-demo

#197 Tables: Implement sortUndefined for columns; add EmptyMessage class
  build.sbt
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/UndefinedPriority.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/package.scala
Labels: tanstack-table

#198 Make style an opaque type
  common/src/main/scala/react/common/style/package.scala
  common/src/test/scala/react/common/arb/ArbStyle.scala
  grid-layout/src/main/scala/react/gridlayout/BaseProps.scala
Labels: common, grid-layout

#201 Add TabView/TabPanel primereact components
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/TabPanel.scala
  prime-react/src/main/scala/react/primereact/TabView.scala
Labels: prime-react, prime-react-demo

#205 Add ability to add modifiers to the primereact components.
  build.sbt
  prime-react/src/main/scala/react/primereact/Accordion.scala
  prime-react/src/main/scala/react/primereact/AccordionBase.scala
  prime-react/src/main/scala/react/primereact/AccordionMultiple.scala
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/Card.scala
  prime-react/src/main/scala/react/primereact/Checkbox.scala
  prime-react/src/main/scala/react/primereact/Dialog.scala
  prime-react/src/main/scala/react/primereact/Divider.scala
  prime-react/src/main/scala/react/primereact/Dropdown.scala
  prime-react/src/main/scala/react/primereact/DropdownBase.scala
  prime-react/src/main/scala/react/primereact/DropdownOptional.scala
  prime-react/src/main/scala/react/primereact/InputSwitch.scala
  prime-react/src/main/scala/react/primereact/InputText.scala
  prime-react/src/main/scala/react/primereact/InputTextarea.scala
  prime-react/src/main/scala/react/primereact/Knob.scala
  prime-react/src/main/scala/react/primereact/Panel.scala
  prime-react/src/main/scala/react/primereact/ProgressBar.scala
  prime-react/src/main/scala/react/primereact/SelectButton.scala
  prime-react/src/main/scala/react/primereact/SelectButtonBase.scala
  prime-react/src/main/scala/react/primereact/SelectButtonMultiple.scala
  prime-react/src/main/scala/react/primereact/SelectButtonOptional.scala
  prime-react/src/main/scala/react/primereact/Sidebar.scala
  prime-react/src/main/scala/react/primereact/Slider.scala
  prime-react/src/main/scala/react/primereact/SliderRange.scala
  prime-react/src/main/scala/react/primereact/Splitter.scala
  prime-react/src/main/scala/react/primereact/TabView.scala
  prime-react/src/main/scala/react/primereact/Tag.scala
  prime-react/src/main/scala/react/primereact/Toolbar.scala
Labels: prime-react

#209 Add facades for PrimeReact's ToggleButton, Message, ProgressSpinner
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/Message.scala
  prime-react/src/main/scala/react/primereact/ProgressSpinner.scala
  prime-react/src/main/scala/react/primereact/SelectItem.scala
  prime-react/src/main/scala/react/primereact/ToggleButton.scala
  prime-react/src/main/scala/react/primereact/TooltipOptions.scala
Labels: prime-react, prime-react-demo

#213 Add modifiers to PopupMenu
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/PopupMenu.scala
Labels: prime-react, prime-react-demo

#211 Add Menus and Toasts
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react-demo/src/main/scala/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/react/primereact/Button.scala
  prime-react/src/main/scala/react/primereact/Checkbox.scala
  prime-react/src/main/scala/react/primereact/ConfirmDialog.scala
  prime-react/src/main/scala/react/primereact/ConfirmPopup.scala
  prime-react/src/main/scala/react/primereact/InlineMenu.scala
  prime-react/src/main/scala/react/primereact/InputSwitch.scala
  prime-react/src/main/scala/react/primereact/Knob.scala
  prime-react/src/main/scala/react/primereact/MenuItem.scala
  prime-react/src/main/scala/react/primereact/Message.scala
  prime-react/src/main/scala/react/primereact/MessageItem.scala
  prime-react/src/main/scala/react/primereact/PopupMenu.scala
  prime-react/src/main/scala/react/primereact/ProgressBar.scala
  prime-react/src/main/scala/react/primereact/ProgressSpinner.scala
  prime-react/src/main/scala/react/primereact/SelectButton.scala
  prime-react/src/main/scala/react/primereact/SelectButtonMultiple.scala
  prime-react/src/main/scala/react/primereact/SelectButtonOptional.scala
  prime-react/src/main/scala/react/primereact/Slider.scala
  prime-react/src/main/scala/react/primereact/SliderRange.scala
  prime-react/src/main/scala/react/primereact/TabMenu.scala
  prime-react/src/main/scala/react/primereact/Tag.scala
  prime-react/src/main/scala/react/primereact/Toast.scala
  prime-react/src/main/scala/react/primereact/ToggleButton.scala
  prime-react/src/main/scala/react/primereact/hooks/UsePopupMenuRef.scala
  prime-react/src/main/scala/react/primereact/hooks/UseToastRef.scala
  prime-react/src/main/scala/react/primereact/hooks/hooks.scala
  prime-react/src/main/scala/react/primereact/primereact.scala
Labels: prime-react, prime-react-demo

#216 Add methods to enable table selection
  build.sbt
  common/src/main/scala/react/common/implicits/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
Labels: common, tanstack-table

#218 Further Scalification of table facade
  build.sbt
  package-lock.json
  tanstack-table-demo/src/main/scala/react/table/demo/Table1.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table2.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/SizePx.scala
  tanstack-table/src/main/scala/lucuma/react/syntax/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnOrder.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizing.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizingInfo.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSort.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnVisibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/Expanded.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/HooksApiExt.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowSelection.scala
  tanstack-table/src/main/scala/lucuma/react/table/SortDirection.scala
  tanstack-table/src/main/scala/lucuma/react/table/Sorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/Visibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/Rect.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/VirtualHook.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/VirtualOptions.scala
Labels: tanstack-table, tanstack-table-demo

#220 fix return types on Table facade
  build.sbt
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
Labels: tanstack-table

#221 Add a few more properties to Button
  build.sbt
  prime-react/src/main/scala/react/primereact/Button.scala
Labels: prime-react

#227 A bit more scalification of table facade
  build.sbt
  tanstack-table-demo/src/main/scala/react/table/demo/Demo.scala
  tanstack-table-demo/src/main/scala/react/table/demo/RandomData.scala
  tanstack-table-demo/src/main/scala/react/table/demo/Table3.scala
  tanstack-table/src/main/scala/lucuma/react/table/BuiltInSorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/Cell.scala
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnOrder.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnResizeMode.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizing.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizingInfo.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSort.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnVisibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/Expandable.scala
  tanstack-table/src/main/scala/lucuma/react/table/Expanded.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/Row.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowSelection.scala
  tanstack-table/src/main/scala/lucuma/react/table/Sorting.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/UndefinedPriority.scala
  tanstack-table/src/main/scala/lucuma/react/table/Updater.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Labels: tanstack-table, tanstack-table-demo
