Repository gemini-hlsw/lucuma-react, pull requests merged in 2023-07, with the labels that each got.

#519 Remove react-moon
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  moon/src/main/scala/react/moon/MoonPhase.scala
  moon/src/test/scala/react/moon/MoonPhaseSuite.scala
  package-lock.json
  package.json
Labels: moon

#523 Make RGL facade use opaque types
  common/src/main/scala/react/common/enumValue.scala
  grid-layout/src/main/scala/react/gridlayout/package.scala
Labels: common, grid-layout

#528 Fix cols in rgl facade, add Layout.asList
  build.sbt
  grid-layout/src/main/scala/react/gridlayout/BaseProps.scala
  grid-layout/src/main/scala/react/gridlayout/ReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/ResponsiveReactGridLayout.scala
  grid-layout/src/main/scala/react/gridlayout/package.scala
  grid-layout/src/main/scala/react/gridlayout/raw/package.scala
Labels: grid-layout
