Repository gemini-hlsw/lucuma-react, pull requests merged in 2023-10, with the labels that each got.

#623 Add ability to remove toast
  build.sbt
  prime-react/src/main/scala/lucuma/react/primereact/Toast.scala
Labels: prime-react

#628 Add drag'n'drop facade for primereact/tree
  build.sbt
  prime-react-demo/src/main/scala/lucuma/react/table/demo/TreeDemo.scala
  prime-react/src/main/scala/lucuma/react/primereact/Tree.scala
Labels: prime-react, prime-react-demo

#627 Add syntax for optional tooltips.
  floatingui/src/main/scala/lucuma/react/floatingui/syntax.scala
Labels: floatingui

#643 Fix remove on toast and implement on messages
  package-lock.json
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/lucuma/react/primereact/Messages.scala
  prime-react/src/main/scala/lucuma/react/primereact/Toast.scala
Labels: prime-react, prime-react-demo
