Repository gemini-hlsw/lucuma-react, pull requests merged in 2023-05, with the labels that each got.

#449 Add baseZIndex property to toast
  prime-react-demo/src/main/scala/react/table/demo/DemoComponents.scala
  prime-react/src/main/scala/react/primereact/Toast.scala
Labels: prime-react, prime-react-demo

#461 More PrimeStyles CSS classes.
  build.sbt
  prime-react/src/main/scala/react/primereact/PrimeStyles.scala
Labels: prime-react

#465 Use Set[Tree.Id] for tree control
  .github/workflows/ci.yml
  build.sbt
  prime-react-demo/src/main/scala/react/table/demo/TreeDemo.scala
  prime-react/src/main/scala/react/primereact/Tree.scala
Labels: prime-react, prime-react-demo

#466 Remove lucuma-react-tree
  .github/workflows/ci.yml
  .mergify.yml
  README.md
  build.sbt
  package.json
  tree-demo/src/main/scala/react/atlasKit/tree/demo/TreeDemo.scala
  tree-demo/src/main/scala/react/atlasKit/tree/demo/package.scala
  tree-demo/src/main/webapp/index.html
  tree-demo/src/main/webapp/main.jsx
  tree-demo/src/main/webapp/styles.css
  tree-demo/vite.config.js
  tree/src/main/scala/react/atlasKit/tree/Tree.scala
  yarn.lock
Labels: tree, tree-demo

#467 replace yarn with npm
  .github/workflows/ci.yml
  README.md
  build.sbt
  flake.nix
  package-lock.json
  package.json
  yarn.lock
Labels: tree, tree-demo

#475 Update highcharts
  highcharts-demo/src/main/webapp/main.jsx
  highcharts-demo/src/main/webapp/styles.scss
  highcharts/src/test/scala/react/highcharts/ChartTest.scala
  package-lock.json
  package.json
Labels: highcharts, highcharts-demo
