Repository gemini-hlsw/lucuma-react, pull requests merged in 2024-11, with the labels that each got.

#1057 Add convenience methods to table state types
  tanstack-table/src/main/scala/lucuma/react/table/ColumnOrder.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnSizing.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnVisibility.scala
  tanstack-table/src/main/scala/lucuma/react/table/Expanded.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/Sorting.scala
Labels: tanstack-table, skip-sc

#1064 Update lucuma-react to 0.7.0
  .scalafix.conf
  README.md
  beautiful-dnd-demo/vite.config.js
  build.sbt
  common/src/main/scala/lucuma/react/common/scalaComponents.scala
  datepicker-demo/vite.config.js
  floatingui/src/main/scala/lucuma/react/floatingui/package.scala
  font-awesome-demo/vite.config.js
  grid-layout-demo/vite.config.js
  highcharts-demo/vite.config.js
  hotkeys-demo/vite.config.js
  prime-react-demo/src/main/scala/lucuma/react/table/demo/Demo.scala
  prime-react-demo/vite.config.js
  resizable-demo/vite.config.js
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/Demo.scala
  resize-detector-demo/vite.config.js
  tanstack-table-demo/src/main/scala/lucuma/react/table/demo/Demo.scala
  tanstack-table-demo/vite.config.js
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/PartialTableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableState.scala
Labels: common, grid-layout-demo, highcharts-demo, datepicker-demo, beautiful-dnd-demo, hotkeys-demo, resizable-demo, prime-react-demo, floatingui, tanstack-table, tanstack-table-demo, font-awesome-demo, resize-detector-demo

#1065 Allow selecting dropdown items with keyboard
  prime-react/src/main/scala/lucuma/react/primereact/DropdownBase.scala
Labels: prime-react
