Repository gemini-hlsw/lucuma-react, pull requests merged in 2024-06, with the labels that each got.

#901 Add plugin for external links
  markdown/src/main/scala/lucuma/react/markdown/ReactMarkdown.scala
Labels: markdown

#910 New resize detector library
  build.sbt
  package-lock.json
  package.json
  resize-detector/src/main/scala/lucuma/react/resizeDetector/ResizeDetector.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/package.scala
Labels: resize-detector

#911 Ref types for tables matching the new resizer
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTable.scala
  tanstack-table/src/main/scala/lucuma/react/table/props.scala
Labels: tanstack-table

#915 Column & row pinning API
  build.sbt
  tanstack-table/src/main/scala/lucuma/react/table/Column.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnDef.scala
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinningPosition.scala
  tanstack-table/src/main/scala/lucuma/react/table/Row.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinningEnabled.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinningPosition.scala
  tanstack-table/src/main/scala/lucuma/react/table/Table.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableOptions.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/ColumnDefJS.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/TableOptionsJS.scala
Labels: tanstack-table

#916 Small rename
  tanstack-table/src/main/scala/lucuma/react/table/RowPinningEnabled.scala
Labels: tanstack-table

#917 Improve pinned API, contemplate it in table render
  tanstack-table/src/main/scala/lucuma/react/table/ColumnPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
  tanstack-table/src/main/scala/lucuma/react/table/PartialTableState.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinning.scala
  tanstack-table/src/main/scala/lucuma/react/table/RowPinningEnabled.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableState.scala
Labels: tanstack-table

#919 Update UndefinedPriorityJs for table
  build.sbt
  tanstack-table/src/main/scala/lucuma/react/table/UndefinedPriority.scala
  tanstack-table/src/main/scala/lucuma/react/table/facade/package.scala
Labels: tanstack-table

#921 Fix virtualizer padder colSpan
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Labels: tanstack-table

#896 Fix to chart race condition
  highcharts/src/main/scala/lucuma/react/highcharts/Chart.scala
Labels: highcharts
