Repository gemini-hlsw/lucuma-react, pull requests merged in 2024-12, with the labels that each got.

#1088 Tables: apply column width throughout
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Labels: tanstack-table

#1095 Apply table cell width before custom mods
  tanstack-table/src/main/scala/lucuma/react/table/HTMLTableRenderer.scala
Labels: tanstack-table

#1114 Update virtualizer API
  build.sbt
  tanstack-table/src/main/scala/lucuma/react/virtual/VirtualOptions.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/facade/VirtualOptionsJS.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/facade/Virtualizer.scala
Labels: tanstack-table

#1124 Migrate to monadic hooks
  build.sbt
  prime-react/src/main/scala/lucuma/react/primereact/package.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
Labels: resize-detector, prime-react

#1126 Migrate hooks to monadic style
  build.sbt
  floatingui/src/main/scala/lucuma/react/floatingui/hooks.scala
  hotkeys-hooks/src/main/scala/lucuma/react/hotkeys/hooks.scala
  hotkeys-hooks/src/main/scala/lucuma/react/hotkeys/package.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/UseMessagesRef.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/UseOverlayPanelRef.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/UsePopupMenuRef.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/UseToastRef.scala
  prime-react/src/main/scala/lucuma/react/primereact/hooks/hooks.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
  tanstack-table/src/main/scala/lucuma/react/table/TableHook.scala
  tanstack-table/src/main/scala/lucuma/react/table/package.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/VirtualHook.scala
  tanstack-table/src/main/scala/lucuma/react/virtual/package.scala
Labels: resize-detector, prime-react, floatingui, tanstack-table, hotkeys-hooks

#1128 Enable compact component definition, fix useResize
  build.sbt
  common/src/main/scala/lucuma/react/common/scalaComponents.scala
  hotkeys-hooks/src/main/scala/lucuma/react/hotkeys/hooks.scala
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/HookDemo.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
Labels: common, resize-detector, hotkeys-hooks, resize-detector-demo

#1130 Helper values for common TooltipOptions.
  prime-react/src/main/scala/lucuma/react/primereact/TooltipOptions.scala
Labels: prime-react
