Repository gemini-hlsw/lucuma-react, pull requests merged in 2024-02, with the labels that each got.

#739 Modernize react-common, Renderable instances
  common/src/main/scala/lucuma/react/common/givens/package.scala
  common/src/main/scala/lucuma/react/common/jsComponents.scala
  common/src/main/scala/lucuma/react/common/package.scala
  common/src/main/scala/lucuma/react/common/scalaComponents.scala
  common/src/main/scala/lucuma/react/common/size.scala
  common/src/main/scala/lucuma/react/common/style/package.scala
  common/src/main/scala/lucuma/react/common/syntax/package.scala
  common/src/test/scala/lucuma/react/common/arb/ArbSize.scala
  common/src/test/scala/lucuma/react/common/arb/ArbStyle.scala
  common/src/test/scala/lucuma/react/common/arb/package.scala
  common/src/test/scala/lucuma/react/common/givens/ReactCatsSuite.scala
  draggable/src/main/scala/lucuma/react/draggable/Draggable.scala
  draggable/src/main/scala/lucuma/react/draggable/package.scala
  floatingui/src/main/scala/lucuma/react/floatingui/package.scala
  floatingui/src/main/scala/lucuma/react/floatingui/syntax.scala
  floatingui/src/test/scala/react/floatingui/TooltipSuite.scala
  grid-layout-demo/src/main/scala/lucuma/react/gridlayout/Demo.scala
  grid-layout/src/main/scala/lucuma/react/gridlayout/BaseProps.scala
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/ResizeDetector.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
  test/src/main/scala/lucuma/react/common/TestUtils.scala
  test/src/test/scala/react/common/CommonSuite.scala
  test/src/test/scala/react/common/ReactFnPropsSuite.scala
  test/src/test/scala/react/common/ReactFnPropsWithChildrenSuite.scala
  test/src/test/scala/react/common/ReactPropsForwardRefSuite.scala
  test/src/test/scala/react/common/ReactPropsForwardRefWithChildrenSuite.scala
  test/src/test/scala/react/common/ReactPropsSuite.scala
  test/src/test/scala/react/common/ReactPropsWithChildrenSuite.scala
  test/src/test/scala/react/common/StyleSuite.scala
Labels: common, test, grid-layout, grid-layout-demo, draggable, resize-detector, floatingui

#740 Remove unused import
  grid-layout/src/test/scala/react/gridlayout/PackageTests.scala
Labels: grid-layout

#753 Handle case where onResize x or y is undefined
  resize-detector/src/main/scala/lucuma/react/resizeDetector/ResizeDetector.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
Labels: resize-detector

#757 Add InputNumber
  prime-react-demo/src/main/scala/lucuma/react/table/demo/DemoControlsPanel.scala
  prime-react/src/main/scala/lucuma/react/primereact/InputNumber.scala
Labels: prime-react, prime-react-demo

#770 Set displayName for ReactFnProps components
  build.sbt
  common/src/main/scala/lucuma/react/common/scalaComponents.scala
  prime-react/src/main/scala/lucuma/react/primereact/InputNumber.scala
  prime-react/src/main/scala/lucuma/react/primereact/Tree.scala
  resize-detector-demo/src/main/scala/lucuma/react/resizeDetector/demo/HookDemo.scala
  resize-detector/src/main/scala/lucuma/react/resizeDetector/hooks.scala
Labels: common, resize-detector, prime-react, resize-detector-demo
